@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var title = Model.MacroParameters["title"].ToString();
    var image = Model.MacroParameters["image"];
    var contentText = Model.MacroParameters["contentText"].ToString();
    var mediaItem = Umbraco.TypedMedia(image).Url;
}

<article class="brick entry format-standard">
    <div class="entry-text">
        <div class="entry-header">
            <h1 class="entry-title">
                @title
            </h1>
        </div>
        <div class="entry-thumb">
            <img src="@mediaItem"/>
        </div>
        <div class="entry-excerpt">
            @contentText
        </div>
    </div>
</article>
