<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="c319cbfb-0dfc-4260-9127-b936f90ab799" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-10-11T12:12:51" updateDate="2021-10-11T12:12:51" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1054" creatorName="Carlos Jaramillo" writerName="Carlos Jaramillo" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true" />
</root>