<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT aboutUs ANY>
<!ATTLIST aboutUs id ID #REQUIRED>
<!ELEMENT news ANY>
<!ATTLIST news id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1055" key="c319cbfb-0dfc-4260-9127-b936f90ab799" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2021-10-11T12:12:51" updateDate="2021-10-11T12:12:51" nodeName="Home" urlName="home" path="-1,1055" isDoc="" nodeType="1054" creatorName="Carlos Jaramillo" writerName="Carlos Jaramillo" writerID="0" template="1053" nodeTypeAlias="home" isPublished="true">
    <news id="1062" key="43f548fc-392c-4a5b-9516-19bc73716c9d" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2021-10-11T12:57:08" updateDate="2021-10-11T12:57:08" nodeName="News" urlName="news" path="-1,1055,1062" isDoc="" nodeType="1057" creatorName="Carlos Jaramillo" writerName="Carlos Jaramillo" writerID="0" template="1056" nodeTypeAlias="news" isPublished="true" />
    <aboutUs id="1063" key="d51f05b8-0584-4071-b87d-fcd7cfb01922" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2021-10-11T12:57:20" updateDate="2021-10-11T12:57:23" nodeName="About Us" urlName="about-us" path="-1,1055,1063" isDoc="" nodeType="1061" creatorName="Carlos Jaramillo" writerName="Carlos Jaramillo" writerID="0" template="1060" nodeTypeAlias="aboutUs" isPublished="true" />
  </home>
</root>